section{
    display: flex;
    flex-direction: column ;
    padding: 2rem;
    width: 80vw;
    position: relative;
}
section h2{
    border-bottom: 2px solid #333;
    padding-bottom: .4rem;
}
p{
    padding-top: 1.5rem;
}

img{
    width: 700px;
    padding: 2rem;
}

.pic{
    display: flex;

}
.location{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15rem;
}
.location .card{
    height: 5rem;
    width: 15rem;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    cursor: pointer;
}
.location .card h4{
    font-size: 1.7rem;
    font-weight: 500;
}